
.bgImage {
    background-image: url('../_images/Vdog.JPG');
    background-position: center;
    width: 80%;
    height: 380px;
    margin-top: -30px;
    margin-left: 130px;
}

.service section {
    text-align: center;
    margin-left: 0px;
}
h2
 {
    text-align:center;
}

.icon {
    max-width: 80px;
    margin: 0 auto;
    display: block;
}

    .icon:hover {
        max-width: 100px;
    }
nav {

text-align:center;

}